<div class="center jumbotron" id="jumbo">
  <h2>Rocket Oil Supplies is a proud supplier of Tech TAC Slimline TACs</h2>
  <p>Slimline TACs are only available to certified Tech TAC dealers.</p>
  <%= link_to "Contact Tech TAC dealers", "#", class: "btn btn-primary btn-lg" %>
  <%= link_to "Become a dealer", "#", class: "btn btn-primary btn-lg" %>
</div>